<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css.css" />
  </head>
  <body>
    <header class="nav_admin">
      <div class="menu_admin"><a href="">Quản lý tài khoản</a></div>
      <div class="menu_admin"><a href="">Quản lý câu hỏi</a></div>
      <div class="menu_admin"><a href="">Đăng xuất</a></div>
    </header>

    <main>
      <div class="group_creat">
        <button class="btn_creat" id="btn_creat_acc">Create</button>
        <button class="update" id="btn_update_acc">update</button>
        <div class="group">
          <label for="">ID</label>
          <input type="text" value="" id="id_user" />
        </div>
        <div class="group">
          <label for="">họ tên</label>
          <input type="text" value="" id="hoten" />
        </div>
        <div class="group">
          <label for="">Username</label>
          <input type="text" value="" id="username" />
        </div>
        <div class="group">
          <label for="">Password</label>
          <input type="text" value="" id="pass" />
        </div>
        <div class="group">
          <label for="">Số điện thoại</label>
          <input type="text" value="" id="sdt" />
        </div>
        <div class="group">
          <label for="">Role</label>
          <input type="text" value="" id="role" />
        </div>
      </div>
      <table id="table_account">
        <tr>
          <th>ID</th>
          <th>Họ tên</th>
          <th>Username</th>
          <th>Passwrod</th>
          <th>Số điện thoại</th>
          <th>Role</th>
          <th>Thao tác</th>
        </tr>
      </table>
    </main>
  </body>
  <script src="mng_account.js"></script>
</html>
