<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="nav">
      <p><a href="">Quản lý tài khoản</a></p>
      <p><a href="">Quản lý câu hỏi</a></p>
      <p><a href=""></a></p>
      <p><a href=""></a></p>
      <button id="a">Plus</button>
    </header>
    <main></main>
  </body>
  <script>
    let a = 0;
    document.getElementById("a").addEventListener("click", () => {
      a++;
      console.log(a);
    });
  </script>
</html>
