<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="css.css" />
  </head>
  <body>
    <header>
      <div class="nav">
        <ul>
          <li><a href="">Trang chủ</a></li>
          <li><a href="">Thống kê</a></li>
          <li><a href="login.html">Đăng xuất</a></li>
        </ul>
      </div>
    </header>
    <main id="form_question">
      <form action="" id="">
        <h3 class="" id="title_question"></h3>
        <ul class="list">
          <li>
            <input
              type="radio"
              name="cau_tra_loi"
              class="cau_tra_loi"
              id="dapan1"
              onchange="unselect1()"
            />
            <label for="dapan1" id="cautraloi1"></label>
          </li>
          <li>
            <input
              type="radio"
              name="cau_tra_loi"
              class="cau_tra_loi"
              id="dapan2"
              onchange="unselect2()"
            />
            <label for="dapan2" id="cautraloi2"></label>
          </li>
          <li>
            <input
              type="radio"
              name="cau_tra_loi"
              class="cau_tra_loi"
              id="dapan3"
              onchange="unselect3()"
            />
            <label for="dapan3" id="cautraloi3"></label>
          </li>
          <li>
            <input
              type="radio"
              name="cau_tra_loi"
              class="cau_tra_loi"
              id="dapan4"
              onchange="unselect4()"
            />
            <label for="dapan4" id="cautraloi4"></label>
          </li>
          <input type="hidden" id="caudung" />
        </ul>
        <button id="submit">Câu tiếp theo</button>
      </form>
    </main>
    <footer></footer>
  </body>
  <script src="Script.js"></script>
</html>
