<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
  </head>
  <link rel="stylesheet" href="login.css" />
  <body>
    <h1>Login</h1>
    <div class="login">
      <label for="username">Username:</label>
      <input
        type="text"
        -
        id="username"
        name="username"
        placeholder="Enter Username"
        required
      />
      <br />
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter Password"
        required
      />
      <br /><br />
      <button type="submit" id="btn_login">Login</button>
  </di>
  </body>
  <script>
    document.getElementById("btn_login").addEventListener("click", (event) => {
     
      
      var user = document.getElementById("username").value;
      var pass = document.getElementById("password").value;
      fetch("http://localhost/rest_api_php/controller/show_api_account.php")
        .then((res) => res.json())
        .then((data) => {
          let leng = data.account.length ;
          for (let i = 0; i < leng; i++) {
            const get_cauhoi = data.account[i];
            const user_api = get_cauhoi.user_name;
            const pass_api = get_cauhoi.pass;
            const role = get_cauhoi.role;
           
            if (user===user_api && pass===pass_api) {
              if (role == 1) {
                console.log("user");
                window.location.href = "./Home.html";
              } else if (role == 0) {
                console.log("admin");
                window.location.href = "./admin.html";
              }
            }
            if (user!==user_api || pass!==pass_api) {
              console.log("sai tai khoan hoac mat khau ");
            }
          }
        })
        .catch((error) => console.log(error));
    });
  </script>
</html>
